<% if tasks.any? %>
  <table class="table table-striped">
     <thead>
       <tr>
         <th>タスク名</th>
         <th>内容</th>
         <th>ステータス</th>
      </tr>
    </thead>
     <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
          <td><%= task.content %></td>
          <td><%= task.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
  <div>
    <%= paginate tasks %>
  </div>
<% end %>