<% if logged_in? %>
  <p><%= current_user.name %> がログイン中</p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>タスクリスト</h1>
      <%= link_to 'ユーザ登録', signup_path, class:"btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>